@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 8
   Case Problem 1

   Rhetoric in the United States Styles for Media
   Author: Mackenzie Baker
   Date:   1.29.2019

   Filename: ws_media.css

*/

/* Video Player Styles */
/* Dispalys video as a block element that takes 90% of space provided for it. Sets top and bottom equal to eachother while leaving the right and left sides with 5px each. */
video {
    display: block;
    width: 90%;
    margin: 5px auto;
}

/* Sets different rules for screens bigger than 521 pixels. */
@media only screen and (min-width: 521px) {

    /* Sets videos width to 360 pixels while keeping the photo floated to the right. Top, right, bottom, and left margins are all 10 pixels each. */
    video {
        width: 360px;
        float: right;
        margin: 10px;
    }
}

/* Track Styles */
/* Sets captions font, color, and background colors to be different from the default. */
::cue {
    font: 1.3em sans-serif;
    color: rgb(221, 128, 160);
    background-color: rgba(255, 255, 255, 0.8);
}

